
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  body {
    background: #fff;
    font-family: 'Padauk', sans-serif;
    line-height: 1.6rem;
    list-style: none;
  }
  #navbar {
    overflow: hidden;
    
    position: fixed;
    top: 0;
    width: 100%;
  }
 header{
    background: url('../images/sarah2.jpg') no-repeat center center/cover;
    height:100vh;
  }  
  .logo{
    padding:1.5rem;
    padding-left:7rem;
    padding-top: 0.5rem;
    
  }
  ul {
    display:flex;
    list-style: none;
}
li{
    padding:0.5em;
    font-weight: bold;
}
.refer li:hover{
    background: rgb(121, 117, 117);
}

.current1 {
    color:#4ac0ac;
}
.container{
    display:flex;
    justify-content: space-between;
    padding:1rem;
    margin:auto;
    text-align: left;
    
}
.container1{
    flex-direction:column ;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    width: 40%;
    padding: 2rem;
}
#showcase {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:100px;
}
.showcase-content {
    padding: 5 50px;
    
}

#showcase .showcase-content h1 {
    margin-bottom:90px 70px;
    padding-top:175px ;
    line-height:3rem;
    font-size:35px;
    font-weight: bold;

    
    
}
#showcase .showcase-content p
{ 
    line-height:1.5em;
    color:rgb(97, 93, 93);
    margin-bottom:30px;
    font-size:20px;
    text-align: justify;

    
}
.showcase-content .button {
    display: inline-block;
    font-size:20px;
    color: #fff;
    background: #4FD2BD;
    padding:14px 40px ;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    background: rgb(221, 48, 92);
}
.info-content h2{
    padding:40px;
    text-align: center;
    font-size :30px;

}
.info-content p{
  text-align: center;
  margin:auto;

   width: 60%;
   color:rgb(114, 107, 107);
  
}
/* img {
    display: block;
    margin-right:90px;
    
  } */

 .leftright{
     display:flex;
    
}
  
 .section-title1{
    
    
    padding-left:70px;
    width:250%;
    padding-bottom:250px;
    background:rgb(66, 62, 62);
    height:40%;
    margin:0 auto; 
    align-items: center;
    
}
.rightsection  img{
    width:165%;
    
    height:100%;
    padding-top:30px ;
}
.section-title1 h2{

    padding:0.4rem;
    padding-left:2rem;
    padding-top: 15rem;
    
}
 .section-title1 p{

    
    padding-left:0.2rem;
    padding-top:1rem;
 }    

.section-title1 .progress {
    overflow: hidden;
    height: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 0.2em; 
    width:450px;
    /* padding-left: 30px; */
    
}
.section-title1 .progress div{
    height: 0.2em;
    color: #fff;
    text-align: center;
    /* background: #4FD2BD; */
    background:#4FD2BD;
        
} 

 .butn {
    
 
   background-color:black;
    border: none;
    
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%; 
}
  
.icongridformat  {
    
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:4rem;
    background: #4FD2BD;
    color: #fff;
    padding:10px;

    position: relative;
    justify-content: space-around;
 } 
.fontawesome .fas{

    padding: 20px;
    font-size: 30px;
    
}
.fontawesome .far{

    padding: 20px;
    font-size: 35px;
 }

.fontawesome .icon-details {

     margin: 20px; 
 } */
 .icons-grid  {
    display:grid;

    background: #4FD2BD;
    color: #fff;
    padding: 20px;
    flex-flow: wrap;
    position: relative;
    justify-content: space-around;
}
.fontawesome .fas{
    padding: 20px;
    font-size: 40px;
}
.fontawesome .far{
    padding: 20px;
    font-size: 40px;
}
.fontawesome .icon-details {
    margin: 20px;  
}


.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    grid-template-areas: 
    'img-1 img-2 img-3 img-4'
    'img-5 img-6 img-7 img-8';
}
.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i {
    color: rgba(225,225,225,0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(225,225,225,0.6);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.5s;
}
.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}
.img-1 {
    grid-area: img-1;
    background-image: url('../images/nordwood.jpg');
}
.img-2 {
    grid-area: img-2;
    background-image: url('../images/honey.jpg');
}
.img-3 {
    grid-area: img-3;
    background-image: url('../images/henry.jpg');
}
.img-4 {
    grid-area: img-4;
    background-image: url('../images/shampoo.jpg');
}
.img-5 {
    grid-area: img-5;
    background-image: url('../images/matteo.jpg');
}
.img-6 {
    grid-area: img-6;
    background-image: url('../images/showcase.jpg');
}
.img-7 {
    grid-area: img-7;
    background-image: url('../images/nakul.jpg');
}
.img-8 {
    grid-area: img-8;
    background-image: url('../images/davide.jpg');
}
.information{
    list-style: none;
    font-size:0.8rem;
    padding:30px;
    text-align:center;
    background:rgb(247, 246, 246) ;
    color:rgb(157, 152, 152);
    
}
.workprocess{
    padding:60px;
    background: #fff;
    text-align:center;
    line-height:1rem;
    
}

.heading-title h2{
    color:black;
    padding:45px;
    font-size:30px ;
    font-weight: bold ;

}
.heading-title p {
     line-height:1em; 
    color:rgb(97, 93, 93);
     margin-bottom:50px; 
    font-size :1rem;
    text-align:center;

}
.shortimage{ 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    width: auto;
    height:auto;
    
    width:100%;
}
.heading-title {
    position: relative;
}

.butn {
    background-color:aqua;
    border: none;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 3px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.butn:hover{
    background-color:rgb(114, 107, 107);
}
.fa-play{
       font-size:25px; 
       color:beige;
       

}


/* button.buttn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: #000;
        border: 0;
        border-radius: 50px;
        color: #fff;
        padding: 10px 20px;
}
     /* position:absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);  
    background-color: #26a815;
    color: rgb(238, 232, 232);
    font-size: 16px;
    padding: 90px 70px; 
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;   */ */
  
.buttn:hover {
    background-color: rgb(25, 170, 12);
    color: white;
}  
.development{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:3rem;
    text-align: center;
    align-items:center;
    padding-top:90px ;
    padding-bottom: 150px;
    background:rgb(250, 246, 246);
    
}
 
.development p{
    color:rgb(121, 117, 117);

}
.icondescrip1.far{
    padding: 20px;
    font-size: 20px;

}
.icondescrip1.fas{
    padding: 20px;
        font-size: 40px;

}

.specialquotes1{
    text-align: center;
    width: 100%;
    height: 300px;
    background: #4FD2BD;
    color: #fff;
    padding:80px;
}
.quotesA{
    font-size:1.4rem;
    line-height:1em;
    width:100%;
   
}
.quotesB{
      
      padding-top:30px ;
}

.heavyicons{
    display:grid;
    grid-template-columns:repeat(5,1fr) ;
    background: white;
    padding:60px;
    
}
.contact-form{
    text-align:center;
    padding:150px;
    background:rgb(237, 234, 234);
    line-height: 5rem;



}
.contact-heading {
    width: 50%;
    padding-right: 50px;
    margin: auto;
    text-align: center;
    color:black;
    line-height: 2rem;
    

}

.contact-form .callback-form {
    width: 100%;
    padding: 20px 0;
}
.contact-form .formgroup1 {
    margin-bottom: 15px;
    
}
.contact-form .formgroup1 input {
    width: 30%;
    padding: 4px;
    height: 70px;
    border: #F5F5F5 solid 1px;
}
.contact-form .formgroup input {
    width: 60%;
    padding: 4px;
    height: 65px;
    border: #F5F5F5 solid 1px;
}
.contact-form .formgroup textarea {
    text-align:left;
    padding:20px;
    height: 65px;
    width: 60%;
    border: #F5F5F5 solid 1px;
}

.bton{
    display: inline-block;
    font-size:15px;
    color: #fff;
    background: #4FD2BD;
    padding:20px 40px ;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.bton:hover{
    background:rgb(24, 22, 153) ;
}
.footer-content{
    display:grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-gap:3rem;
    background:rgb(48, 48, 48) ;
    color:white;
    margin: auto;
    padding:90px;
  
}













    















